@import "reset.scss";
@import "../abstract/mixin.scss";

body {
    width: 100%;
    height: 100%;
    background-image: url("../media/clouds.jpg");
    background-position: center;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: last baseline;
}

.logo {
    max-width: 15%;
    position: fixed;
    right: 0;
    bottom: 0;
    
}

.flex-container {
    @include flex-container;

    img {
        max-height: 200px;
    }

}.flex-container img {
    padding: 160px;
}

@keyframes bart {
    0% {
        transform: translateX(-400px);
    }

    33.33% {
        transform: translateX(0);
    } 
    
    66.66% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }


}

.flex-container img:first-of-type { transform: translateX(-400px);

    animation: bart 1.5s ease-in 1.5s normal forwards;
   
}

@keyframes homer {
    0% {
        transform: translateY(-1450px);
    } 
    
    33% {
        transform: translateY(-1450px);
    } 
    
    66% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.flex-container img:nth-of-type(2) {
    transform: translateY(-1450px);
    animation: homer 1.5s ease-in-out 1.5s normal forwards;
    }

@keyframes lisa {
    0% {
        transform: translateX(1200px);
    }

    33% {
        transform: translateX(1200px);
    } 
    
    66% {
        transform: translateX(1200px);
    }

    100% {
        transform: translateX(0);
    }
}

.flex-container img:nth-of-type(3) {
    transform: translateX(1200px);
    animation: lisa 1.5s ease-in-out 1.5s normal forwards;
}

