.add-button{
    border: 2px solid green;
    background: aliceblue;
    color: green;
    font-weight: bold;
}

.remove-button{
    border: 2px solid red;
    background: aliceblue;
    color: red;
    font-weight: bold;
}

.task-completed{
    color:gray;
    text-decoration: line-through;
}
